#login-wrapper {
    background-image: url('./assets//Wavehaikei.svg');
}

.config-card {
    background-image: url('https://assets.minimals.cc/public/assets/background/shape-square.svg');
    background-repeat: no-repeat;
}
